@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+Display:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Kanit:wght@500&family=Libre+Franklin:wght@300&family=Rajdhani:wght@300&display=swap');

body {
    background-color: rgb(250, 253, 255);
    margin: 0;
}

* {
    scroll-behavior: smooth;
}

/*NOVITA'*/

#novità {
    background-color: rgb(255, 213, 162);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.novità {
    text-align: center;
    align-items: center;
}

.novità {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

#novità .freccia {
    color: black;
}

/*NAVBAR*/
.header {
    background-color: white;
    height: 160px;
    margin: 0;

}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;

}

.navbar-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar-links ul li a {
    color: black;
    text-align: none;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bold;
    padding: 25px;

}

.navbar-links ul li :hover {
    color: rgba(58, 58, 58, 0.617);
    transition: 0.5s;
}


/*NEWS*/
#shop {
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.news {
    text-align: center;
    align-items: center;
}

.news a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.whatsapp_logo {
    color: white;
    margin-right: 5px;
}

.freccia {
    color: white;
}

/*FOTO HOME*/
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-home img {
    width: 1210px;
    height: 494px;
    border-radius: 10px;
}

.laborefgioi {
    margin-top: 50px;
    text-decoration: underline;
    text-align: center;
}

/*CHI SIAMO*/
.text-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.text-box h2 {
    font-size: 35px;
    color: black;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

.text-box h1 {
    margin-top: 30px;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.text-box p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.immagine-presentazione img {
    height: 650px;
    width: 650px;
    border-radius: 10px;
}

.immagine-presentazione {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*IL NEGOZIO*/
#negozio {
    background-color: rgba(252, 243, 233, 0.646);
}

.ilnegozio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.ilnegozio h1 {
    margin-top: 150px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.ilnegozio p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.img-neg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.img-neg img {
    height: 650px;
    width: 700px;
    padding: 100px;
    border-radius: 10px;
}

/*IL LABORATORIO*/
#laboratorio {
    background-color: rgba(252, 243, 233, 0.646);
}

.illaboratorio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.illaboratorio h1 {
    margin-top: 150px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.illaboratorio p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.img-lab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-lab img {
    height: 650px;
    width: 700px;
    padding: 100px;
    border-radius: 10px;

}

/*OROLOGI*/
#inostriorologi h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
}

#inostriorologi a {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: black;
    position: relative;
    margin-top: 30px;

}

#inostriorologi a:hover {
    color: rgba(39, 37, 37, 0.765);
    text-decoration: underline;
    font-size: 19.5px;
    transition: .5s;
}

.orologi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.orologi img {
    width: 480px;
    height: 620px;
    border-radius: 10px;
}

/*GIOIELLI*/
#inostrigioielli h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
}

#inostrigioielli a {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: black;
    position: relative;
    margin-top: 30px;
}

#inostrigioielli a:hover {
    color: rgba(39, 37, 37, 0.765);
    text-decoration: underline;
    font-size: 19.5px;
    transition: .5s;
}

.gioielli {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.gioielli img {
    width: 560px;
    height: 530px;
    border-radius: 10px;
}

/*BRAND*/
.brand {
    display: flex;
    justify-content: space-around;
}

.brand .philipwatchimg {
    padding-top: 40px;
}

.brand .citizenimg {
    padding-top: 70px;
}

.brand2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;

}

.brand2 .viscontiimg {
    padding-top: 40px;
}


#brand h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    text-align: center;
}

#brand p {
    padding-left: 60px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

#brand a {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: black;
}



/*RECENSIONI*/
.testimonials {
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    background-color: rgba(255, 247, 237, 0.86);
    border-radius: 10px;
}

.row {
    display: flex;
}

.testimonial-col {
    display: flex;
    flex-basis: 44%;
    border-radius: 10px;
    text-align: left;
    padding: 25px;
    flex-direction: column;
    margin-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
    background: antiquewhite;
}

.testimonial-col p {
    padding: 0;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.testimonial-col h2 {
    margin-top: 15px;
    text-align: left;
    font-size: 25px;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.altre-recensioni {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.altre-recensioni a {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

/*CONTATTACI SU WHATSAPP OPPURE*/
#whatsapp {
    display: flex;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    background-color: black;
    width: 450px;
    height: 60px;
    justify-content: center;
}

.whatsapp {
    display: flex;
    text-align: center;
    font-size: 30px;
}

.whatsapp a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.whatsapp a:hover {
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: .2s;
    text-decoration: underline;
}

.oppure {
    text-align: center;
    font-size: 15px;
}

/*FORM*/
#form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {

    width: 90%;
    max-width: 500px;
    margin: 0% auto;
    background-color: white;
    box-shadow: 0 0 10px white;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;

}

.form-group {
    margin-top: 10px;
    margin-right: 15px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 7px;
    resize: none;
    border: 1px solid rgba(128, 128, 128, 0.199);
}

.form h1 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.form .privacy {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    margin: 10px;
}

/*BOTTONE FORM*/
button {
    width: 20%;
    cursor: pointer;
    border: none;
    outline: none;
    height: 30px;
}

button[type="submit"] {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

button[type="submit"]:hover {
    background-color: rgb(216, 210, 210);
}

/*CONTATTI E ORARI*/
.contatti-orari h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.contatti-orari p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/*MAPPA*/
.maps {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.contatti-maps {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maps {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.maps p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/*FINE PAGINA*/
.endpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    text-align: center;
}

.sx {
    padding-left: 40px;
}

.sx img {
    width: 50px;
    height: 25px;
}

.mid {
    padding-left: 140px;
}

.mid h1 {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    color: white;
}

.follow-us {
    display: flex;
    padding-right: 40px;
    align-items: center;
    justify-content: flex-end;
}

.follow-us svg {
    color: white;
}

.follow-us button {
    width: 25px;
    background-color: rgba(255, 228, 196, 0);
    padding: 0;
}

.follow-us a {
    color: white;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
}



/*PRODOTTI*/
.scegli {
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.buttonvisualizza {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 150px;
    height: 40px;
}

.buttonvisualizza a {
    color: black;
    font-family: 'Poppins', sans-serif;
    width: 130px;
    text-decoration: none;
    text-align: center;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

.collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item .txt {
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.item .txt a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.item .txt :hover {
    text-decoration: underline;
}

.item img {
    border-radius: 5px;
}

.item img:hover {
    opacity: .5;
    transform: scale(1.1);
    transition: 1s;
}

.anelli {
    margin-top: 30px;
    font-size: 45px;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.bracciali {
    margin-top: 30px;
    font-size: 45px;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.collane {
    margin-top: 30px;
    font-size: 45px;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.orecchini {
    margin-top: 30px;
    font-size: 45px;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.orologio {
    margin-top: 30px;
    font-size: 45px;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


.products {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.imgprodotto img {
    border-radius: 5px;
}

.nomeprodotto {
    font-size: 45px;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-left: 40px;
}

.prezzoprodotto {
    font-size: 30px;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
    margin-top: 15px;
}

.ivainclusa {
    font-size: 10px;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-left: 42px;
    margin-top: 5px;
}



.descrizioneprodotto p {
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
}


















/*RESPONSIVE*/
@media(max-width:539px) {
    .navbar-links ul li a {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    .navbar-links ul li {
        flex-direction: column;
        display: flex;
    }

    .foto-home img {
        width: 360px;
        height: 174px;
    }

    .laborefgioi {
        font-size: 12px;
    }

    .text-box {
        margin-top: 30px;
    }

    .text-box h2 {
        font-size: 25px;
    }

    .text-box h1 {
        font-size: 25px;
    }

    .text-box p {

        font-size: 20px;
    }

    .immagine-presentazione img {
        height: 350px;
        width: 350px;
    }

    .ilnegozio {
        margin-top: 30px;
    }

    .ilnegozio h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .ilnegozio p {
        font-size: 20px;
    }

    .img-neg {
        flex-direction: column;
    }

    .img-neg img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .illaboratorio h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .illaboratorio p {
        font-size: 20px;
    }

    .img-lab {
        flex-direction: column;
    }

    .img-lab img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    #inostriorologi h1 {
        font-size: 45px;
    }

    .orologi {
        flex-direction: column;
    }

    .orologi img {
        width: 370px;
        height: 450px;
    }

    #inostrigioielli h1 {
        font-size: 45px;
    }

    .gioielli {
        flex-direction: column;
    }

    .gioielli img {
        width: 370px;
        height: 350px;
    }

    #brand p {
        text-align: center;
        padding: 0;
        font-size: 20px;
    }

    #brand h1 {
        font-size: 45px;
    }

    #brand a {
        font-size: 20px;
    }

    .brand,
    .brand2 {
        flex-direction: column;
        align-items: center;
    }

    .brand .bulovaimg {
        padding-left: 20px;
    }

    .brand .philipwatchimg {
        padding: 0;
    }

    .scegli {
        font-size: 17px;
    }

    .box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .collection {
        padding: 0;

        justify-content: center;
        align-items: center;
    }


    .collection .item img {
        width: 330px;
        height: 420px;
    }

    .imgprodotto img {
        width: 360px;
        height: 440px;
    }

    .nomeprodotto {
        padding-right: 25px;
    }

    .collection .item .txt {
        font-size: 25px;
    }


    .row {
        flex-direction: column;
    }

    .testimonials {
        width: auto;
        margin-top: 20px;
    }

    .testimonials h1 {
        font-size: 25px;
    }

    .maps {
        display: none;
    }

    .contatti-orari {
        padding-left: 0px;
    }

    .contatti-orari h1,
    .contatti-orari p {
        font-size: 15px;
    }

    .sx img {
        width: 25px;
        height: 12.5px;
    }

    .mid {
        padding-left: 80px;
    }

    .follow-us svg {
        display: none;
    }

    .follow-us a {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    #whatsapp {
        width: 350px;
        height: 100px;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .descrizioneprodotto {
        justify-content: flex-start;
    }

    #orecchini .box .collection .item .img img {
        width: 420px;
        height: 420px;
    }

    #orologi .box .collection .item .img img {
        width: 420px;
        height: 540px;
    }

}


@media(max-width:907px) and (min-width:540px) {
    .navbar-links ul li a {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    .navbar-links ul li {
        flex-direction: column;
        display: flex;
    }

    .foto-home img {
        width: 540px;
        height: 244px;
    }

    .laborefgioi {
        font-size: 20px;
    }

    .text-box {
        margin-top: 30px;
    }

    .text-box h2 {
        font-size: 25px;
    }

    .text-box h1 {
        font-size: 25px;
    }

    .text-box p {

        font-size: 20px;
    }

    .immagine-presentazione img {
        height: 350px;
        width: 350px;
    }

    .ilnegozio {
        margin-top: 30px;
    }

    .ilnegozio h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .ilnegozio p {
        font-size: 20px;
    }

    .img-neg {
        flex-direction: column;
    }

    .img-neg img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .illaboratorio h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .illaboratorio p {
        font-size: 20px;
    }

    .img-lab {
        flex-direction: column;
    }

    .img-lab img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .orologi {
        flex-direction: column;
    }

    .orologi img {
        width: 370px;
        height: 450px;
    }

    .gioielli {
        flex-direction: column;
    }

    .gioielli img {
        width: 410px;
        height: 350px;
    }

    .box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .collection {
        padding: 40px;
        justify-content: center;
        align-items: center;
    }

    .collection .item .txt {
        font-size: 25px;
    }

    .collection .item {
        padding-left: 30px;
    }

    .collection .item img {
        width: 400px;
        height: 480px;
    }

    .imgprodotto img {
        width: 400px;
        height: 480px;
    }

    .nomeprodotto {
        padding-right: 25px;
    }

    #brand p {
        text-align: center;
        padding: 0;
        font-size: 15px;
    }

    #brand h1 {
        font-size: 45px;
    }

    #brand a {
        font-size: 15px;
    }

    .brand,
    .brand2 {
        flex-direction: column;
        align-items: center;
    }

    .brand .bulovaimg {
        padding-left: 20px;
    }

    .brand .philipwatchimg {
        padding: 0;
    }


    .row {
        flex-direction: column;
    }

    .testimonials h1 {
        font-size: 25px;
    }

    .testimonials {
        width: auto;
        margin-top: 20px;
    }

    .maps {
        display: none;
    }

    .contatti-orari {
        padding-left: 0px;
    }

    .contatti-orari h1 {
        font-size: 15px;
    }

    .sx img {
        width: 25px;
        height: 12.5px;
    }

    .mid {
        padding-left: 80px;
    }

    .follow-us svg {
        display: none;
    }

    .follow-us a {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    #whatsapp {
        width: 350px;
        height: 100px;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    #orecchini .box .collection .item .img img {
        width: 440px;
        height: 440px;
    }

    #orologi .box .collection .item .img img {
        width: 440px;
        height: 580px;
    }

}



@media(max-width:1026px) and (min-width:908px) {

    .navbar-links ul li a {
        font-size: 15px;
    }



    .foto-home img {
        width: 600px;
        height: 204px;
    }

    .laborefgioi {
        font-size: 20px;
    }

    .text-box {
        margin-top: 30px;
    }

    .text-box h2 {
        font-size: 25px;
    }

    .text-box h1 {
        font-size: 25px;
    }

    .text-box p {

        font-size: 20px;
    }


    .immagine-presentazione img {
        height: 350px;
        width: 350px;
    }

    .ilnegozio {
        margin-top: 30px;
    }

    .ilnegozio h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .ilnegozio p {
        font-size: 20px;
    }

    .img-neg {
        flex-direction: column;
    }

    .img-neg img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .illaboratorio h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .illaboratorio p {
        font-size: 20px;
    }

    .img-lab {
        flex-direction: column;
    }

    .img-lab img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .orologi {
        flex-direction: column;
    }

    .orologi img {
        width: 390px;
        height: 470px;
    }

    .gioielli {
        flex-direction: column;
    }

    .gioielli img {
        width: 430px;
        height: 350px;
    }

    .box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .collection {
        padding: 40px;
        justify-content: center;
        align-items: center;
    }

    .collection .item {
        padding-left: 30px;
    }

    .collection .item img {
        width: 450px;
        height: 540px;
    }

    .imgprodotto img {
        width: 450px;
        height: 540px;
    }

    .nomeprodotto {
        padding-right: 25px;
    }

    .item img {
        width: 450px;
        height: 540px;
    }

    .item .txt {
        font-size: 25px;
    }

    #brand p {
        text-align: center;
        padding: 0;
        font-size: 15px;
    }

    #brand h1 {
        font-size: 45px;
    }

    #brand a {
        font-size: 15px;
    }

    .brand,
    .brand2 {
        flex-direction: column;
        align-items: center;
    }

    .brand .bulovaimg {
        padding-left: 20px;
    }

    .brand .philipwatchimg {
        padding: 0;
    }

    .row {
        flex-direction: column;
    }

    .testimonials h1 {
        font-size: 25px;
    }

    .maps {
        display: none;
    }

    .contatti-orari {
        padding-left: 0px;
    }

    .contatti-orari h1,
    .contatti-orari p {
        font-size: 15px;
    }

    .sx img {
        width: 25px;
        height: 12.5px;
    }

    .mid {
        padding-left: 80px;
    }

    .follow-us svg {
        display: none;
    }

    .follow-us a {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    #orecchini .box .collection .item .img img {
        width: 460px;
        height: 460px;
    }

    #orologi .box .collection .item .img img {
        width: 460px;
        height: 580px;
    }

}

@media(max-width:1500px) and (min-width: 1250px) {
    .img-neg img {
        width: 610px;
        height: 690px;
    }

    .img-lab {
        flex-direction: column;
    }

    .img-lab img {
        width: 610px;
        height: 690px;
    }

    .img-neg {
        flex-direction: column;
    }

    .orologi img {
        width: 310px;
        height: 390px;
    }

    .gioielli img {
        width: 310px;
        height: 390px;
    }

    .box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .collection {
        padding: 40px;
        justify-content: center;
        align-items: center;
    }

    .collection .item {
        padding-left: 30px;
    }

    .collection .item img {
        width: 500px;
        height: 590px;
    }

    .imgprodotto img {
        width: 500px;
        height: 590px;
    }

    .nomeprodotto {
        padding-right: 25px;
    }

    .item img {
        width: 500px;
        height: 590px;
    }

    .item .txt {
        font-size: 25px;
    }

    .item img {
        width: 350px;
        height: 350px;
    }

    .item .txt {
        font-size: 25px;
    }

    #brand p {
        text-align: center;
        padding: 0;
        font-size: 15px;
    }

    #brand h1 {
        font-size: 45px;
    }

    #brand a {
        font-size: 15px;
    }

    .brand,
    .brand2 {
        flex-direction: column;
        align-items: center;
    }

    .brand .bulovaimg {
        padding-left: 20px;
    }

    .brand .philipwatchimg {
        padding: 0;
    }

    .contatti-maps {
        flex-direction: column;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    #orecchini .box .collection .item .img img {
        width: 500px;
        height: 500px;
    }

    #orologi .box .collection .item .img img {
        width: 500px;
        height: 600px;
    }
}

@media(max-width:1250px) and (min-width: 1026px) {

    .navbar-links ul li a {
        font-size: 18px;
        padding: 30;
    }

    .foto-home img {
        width: 850px;
        height: 354px;
    }

    .laborefgioi {
        font-size: 20px;
    }

    .text-box {
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;
        padding-left: 150px;
        padding-right: 150px;
        align-items: center;
    }

    .text-box h2 {
        text-align: center;
        font-size: 25px;
    }

    .text-box h1 {
        text-align: center;
        font-size: 25px;
    }

    .text-box p {
        text-align: center;
        font-size: 20px;
    }

    .immagine-presentazione img {
        height: 350px;
        width: 350px;
    }

    .ilnegozio {
        margin-top: 30px;
    }

    .ilnegozio h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .ilnegozio p {
        font-size: 20px;
    }

    .img-neg {
        flex-direction: column;
    }

    .img-neg img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .illaboratorio h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .illaboratorio p {
        font-size: 20px;
    }

    .img-lab {
        flex-direction: column;
    }

    .img-lab img {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .orologi {
        flex-direction: column;
    }

    .orologi img {
        width: 390px;
        height: 470px;
    }

    .gioielli {
        flex-direction: column;
    }

    .gioielli img {
        width: 430px;
        height: 370px;
    }

    .box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .collection {
        padding: 40px;
        justify-content: center;
        align-items: center;
    }

    .collection .item {
        padding-left: 30px;
    }

    .collection .item img {
        width: 450px;
        height: 540px;
    }

    .imgprodotto img {
        width: 450px;
        height: 540px;
    }

    .nomeprodotto {
        padding-right: 25px;
    }

    .item img {
        width: 450px;
        height: 540px;
    }

    .item .txt {
        font-size: 25px;
    }

    .item img {
        width: 350px;
        height: 350px;
    }

    .item .txt {
        font-size: 25px;
    }

    #brand p {
        text-align: center;
        padding: 0;
        font-size: 15px;
    }

    #brand h1 {
        font-size: 45px;
    }

    #brand a {
        font-size: 15px;
    }

    .brand,
    .brand2 {
        flex-direction: column;
        align-items: center;
    }

    .brand .bulovaimg {
        padding-left: 20px;
    }

    .brand .philipwatchimg {
        padding: 0;
    }

    .row {
        flex-direction: column;
    }

    .testimonials h1 {
        font-size: 25px;
    }

    .maps {
        display: none;
    }

    .contatti-orari {
        padding-left: 0px;
    }

    .contatti-orari h1,
    .contatti-orari p {
        font-size: 15px;
    }

    .sx img {
        width: 25px;
        height: 12.5px;
    }

    .mid {
        padding-left: 80px;
    }

    .follow-us svg {
        display: none;
    }

    .follow-us a {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    #orecchini .box .collection .item .img img {
        width: 480px;
        height: 480px;
    }

    #orologi .box .collection .item .img img {
        width: 480px;
        height: 600px;
    }

}